<mat-table [dataSource]="boatsDataSource">
  <ng-container [matColumnDef]="NAME_COLUMN_DEFINITION">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let boat"> {{ boat.name }} </mat-cell>
  </ng-container>

  <ng-container [matColumnDef]="ACTION_COLUMN_DEFINITION">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let boat" class="action-cell">
      <button color="primary" mat-flat-button (click)="showBoat(boat.id)" class="show-button">
        <mat-icon aria-label="View boat" title="View boat">
          visibility
        </mat-icon>
        Show
      </button>
      <button color="accent" mat-flat-button (click)="deleteBoat(boat.id)">
        <mat-icon aria-label="Delete boat" title="Delete boat">
          delete
        </mat-icon>
        Delete
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
