<h2 mat-dialog-title>Boat details</h2>
<form *ngIf="boatFormGroup" [formGroup]="boatFormGroup" (ngSubmit)="saveBoat()">
  <mat-dialog-content>
    <ng-container *ngIf="!isFormInEdition; else editableFields">
      <p>Name: {{ boatFormGroup.value.name }}</p>
      <p>Description: {{ boatFormGroup.value.description }}</p>
    </ng-container>
    <ng-template #editableFields>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Titanic" formControlName="name" required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description" required>
      </mat-form-field>
    </ng-template>
    </mat-dialog-content>
    <mat-dialog-actions>
    <ng-container *ngIf="!isFormInEdition; else editionActionButtons">
      <button mat-flat-button [mat-dialog-close] cdkFocusInitial>Close</button>
      <button mat-flat-button color="primary" (click)="toggleEditionMode()">Edit</button>
      </ng-container>
      <ng-template #editionActionButtons>
        <button mat-flat-button (click)="cancelEdition()">Cancel</button>
        <button mat-flat-button color="primary" type="submit" [disabled]="!boatFormGroup.valid">Save</button>
      </ng-template>
  </mat-dialog-actions>
</form>
