<mat-toolbar>
  <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10">
    <img alt="logo" id="logo" [routerLink]="ROOT_PATH" src="assets/images/bowt_logo.png">

    <span translate="no">{{ appName }}</span>
  </span>

  <span class="spacer"></span>
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <ng-container *ngIf="connectedUser">
      <span>Hello {{ connectedUser.firstName }}</span>
      <button mat-flat-button (click)="logout()">
        Logout
      </button>
    </ng-container>
  </div>
</mat-toolbar>
