<div id="boat-creation-dialog">
  <h2 mat-dialog-title>Boat creation form</h2>
  <form [formGroup]="boatCreationFormGroup" (ngSubmit)="confirmCreation()">
    <mat-dialog-content>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Titanic" formControlName="name" required>
        <mat-error *ngIf="boatCreationFormGroup.controls.name.hasError('required')">This field is
          required</mat-error>
        <mat-error *ngIf="boatCreationFormGroup.controls.name.hasError('minlength')">This field must contain at
          least {{ boatNameFieldMinLength }} characters</mat-error>
        <mat-error *ngIf="boatCreationFormGroup.controls.name.hasError('maxlength')">This field must contain at
          most {{ boatNameFieldMaxLength }} characters</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="An historical figure..." formControlName="description" required></textarea>
        <mat-error *ngIf="boatCreationFormGroup.controls.description.hasError('required')">This field is
          required</mat-error>
        <mat-error *ngIf="boatCreationFormGroup.controls.description.hasError('minlength')">This field must contain at
          least {{ boatDescriptionFieldMinLength }} characters</mat-error>
        <mat-error *ngIf="boatCreationFormGroup.controls.description.hasError('maxlength')">This field must contain at
          most {{ boatDescriptionFieldMaxLength }} characters</mat-error>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-flat-button [mat-dialog-close] cdkFocusInitial>Cancel</button>
      <button mat-flat-button color="primary" type="submit">Create</button>
    </mat-dialog-actions>
  </form>
</div>
