#boat-creation-dialog {
  width: 350px;
}

h2 {
  text-align: center;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-bottom: 10px;
}

mat-dialog-actions {
  justify-content: space-between;
}
